#fancybox-buttons {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 8050;
}

#fancybox-buttons.top {
	top: 10px;
}

#fancybox-buttons.bottom {
	bottom: 10px;
}

#fancybox-buttons ul {
	display: block;
	width: 166px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	border: 1px solid #111;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	   -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	        box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	background: rgb(50,50,50);
	background: -moz-linear-gradient(top, rgb(68,68,68) 0%, rgb(52,52,52) 50%, rgb(41,41,41) 50%, rgb(51,51,51) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,68,68)), color-stop(50%,rgb(52,52,52)), color-stop(50%,rgb(41,41,41)), color-stop(100%,rgb(51,51,51)));
	background: -webkit-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: -o-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: -ms-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );
}

#fancybox-buttons ul li {
	float: left;
	margin: 0;
	padding: 0;
}

#fancybox-buttons a {
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url('../imgmin/fancybox_sprite.png');
	background-repeat: no-repeat;
	outline: none;
	opacity: 0.8;
}

#fancybox-buttons a:hover {
	opacity: 1;
}

#fancybox-buttons a.btnPrev {
	background-position: 5px 0;
}

#fancybox-buttons a.btnNext {
	background-position: -33px 0;
	border-right: 1px solid #3e3e3e;
}

#fancybox-buttons a.btnPlay {
	background-position: 0 -30px;
}

#fancybox-buttons a.btnPlayOn {
	background-position: -30px -30px;
}

#fancybox-buttons a.btnToggle {
	background-position: 3px -60px;
	border-left: 1px solid #111;
	border-right: 1px solid #3e3e3e;
	width: 35px
}

#fancybox-buttons a.btnToggleOn {
	background-position: -27px -60px;
}

#fancybox-buttons a.btnClose {
	border-left: 1px solid #111;
	width: 35px;
	background-position: -56px 0px;
}

#fancybox-buttons a.btnDisabled {
	opacity : 0.4;
	cursor: default;
}
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../imgmin/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../imgmin/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../imgmin/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../imgmin/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../imgmin/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('../imgmin/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1em;
}
body {
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  background: rgba(11,27,56,1);
background: -moz-linear-gradient(top, rgba(11,27,56,1) 0%, rgba(14,32,64,1) 16%, rgba(24,50,94,1) 55%, rgba(24,50,94,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11,27,56,1)), color-stop(16%, rgba(14,32,64,1)), color-stop(55%, rgba(24,50,94,1)), color-stop(100%, rgba(24,50,94,1)));
background: -webkit-linear-gradient(top, rgba(11,27,56,1) 0%, rgba(14,32,64,1) 16%, rgba(24,50,94,1) 55%, rgba(24,50,94,1) 100%);
background: -o-linear-gradient(top, rgba(11,27,56,1) 0%, rgba(14,32,64,1) 16%, rgba(24,50,94,1) 55%, rgba(24,50,94,1) 100%);
background: -ms-linear-gradient(top, rgba(11,27,56,1) 0%, rgba(14,32,64,1) 16%, rgba(24,50,94,1) 55%, rgba(24,50,94,1) 100%);
background: linear-gradient(to bottom, rgba(11,27,56,1) 0%, rgba(14,32,64,1) 16%, rgba(24,50,94,1) 55%, rgba(24,50,94,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1b38', endColorstr='#18325e', GradientType=0 ); 
}
.main-wrapper {
  max-width: 100%;
}
.content-wrapper {
    max-width: 980px;
    margin: auto;
}
.footer-wrapper {
  max-width: 980px;
  margin: auto;
}
footer {
 background: #2f528e; /* Old browsers */
background: -moz-linear-gradient(top, #2f528e 0%, #18325e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #2f528e 0%,#18325e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #2f528e 0%,#18325e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f528e', endColorstr='#18325e',GradientType=0 ); /* IE6-9 */
}
h1 {
  margin: 0;
  padding: 0;
}
h1, h2 {
  font-family: 'Bad Script', cursive;
}
/*----header styles----*/
header {
  background: #000000;
  z-index: 10;
  position: relative;
}
.header-container {
  max-width: 980px;
  margin: 0 auto;
}
.block-left {
  float: left;
  width: 70%;
}
.block-right {
  float: right;
  width: 30%;
  line-height: 25px;
  margin-top: 5px;
}
.block-right ul {
  float: right;
  list-style-image:url("../imgmin/icon-phone.png");
}

.header-container:after, .footer-wrapper:after{
  content:"";
  display:block;
  clear: both;
}
.gradient {
  position: absolute;
  top: 0%;
  left: 46%;
  height: 100px;
  width: 200px;
  border-radius: 70%;
  z-index: 1;
  -moz-box-shadow: 0px 0px 67px 43px #2c4c7c;
 -webkit-box-shadow: 0px 0px 67px 43px #2c4c7c;
 box-shadow: 0px 0px 67px 43px #2c4c7c;
}
.header-menu ul {
  margin: 0;
  padding: 0;
}
.header-menu li, .footer-menu li {
  list-style: none;
  display: inline-block;
}
.header-menu a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 0 14px;
  line-height: 112px;
  z-index: 10;
  position: relative;
}
/*should be edited for class .active via JS instead of a:hover*/
.header-menu a:hover {
  background: #572202;
  box-shadow: 0 2px 3px #000;
  -moz-transform: scale(1.1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 300ms;
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 300ms;
  -ms-transform: scale(1.1);
  -ms-transition-timing-function: ease-out;
  -ms-transition-duration: 300ms;
  -o-transform: scale(1.1);
  -o-transition-timing-function: ease-out;
  -o-transition-duration: 300ms;
  transform: scale(1.1);
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  z-index: 3;
}
.header-menu a.active {
  background: #79360D;  
  box-shadow: 0 2px 3px #000;
  -moz-transform: scale(1.1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 300ms;
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 300ms;
  -ms-transform: scale(1.1);
  -ms-transition-timing-function: ease-out;
  -ms-transition-duration: 300ms;
  -o-transform: scale(1.1);
  -o-transition-timing-function: ease-out;
  -o-transition-duration: 300ms;
  transform: scale(1.1);
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  z-index: 1;
}
.header-menu a:active {
  background: #3A1600;
}
.logo-container {
  max-width: 980px;
}
.logo {
  margin: 75px auto 30px;
  width: 60%;
}
.logo h1 {
  font-size: 55px;
  text-align: center;
}
.logo img {
  display: block;
  width: 14%;
  margin: 30px auto;
}
/*Flickity styles*/
 .carousel-cell {
   margin-right: 20px;
   height: 300px;
   border: 10px solid white;
   counter-increment: gallery-cell;
 }
 .flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent; 
}
.flickity-prev-next-button:hover {
  background: transparent;
}
.flickity-prev-next-button .arrow {
  fill: #ffffff;
  box-shadow: 2px 2px 1px 2px black;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button.previous {
     left: -75px;
 }
.flickity-prev-next-button.next {
     right: -75px;
 }
 /*Main content styles*/
 .content-container {
   margin: 40px 0;
   overflow: hidden;
   max-width: 980px;
 }
 .sidebar {
   width: 200px;
   float: left;
 }
 .content {
   margin-left: 240px;
 }
 .centered-text {
   display: inline-block;
   margin: 0 10px;
   padding-bottom: 10px;
   vertical-align: middle;
 }
 .box {
   margin: 30px 0;
   padding: 0 10px;
 }
 .read-more-btn {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  float: right;
  display: inline-block;
  text-decoration: none;
  background: #703103; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(#703103 0%, #703103 51%, #511e02 87%, #511e02 87%, #511e02 87%, #511e02 100%);
  background: -o-linear-gradient(#703103 0%, #703103 51%, #511e02 87%, #511e02 87%, #511e02 87%, #511e02 100%);
  background: linear-gradient(#703103 0%, #703103 51%, #511e02 87%, #511e02 87%, #511e02 87%, #511e02 100%) ; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#703103', endColorstr='#511e02',GradientType=0 ); /* IE6-9 */
  padding: 8px 20px;
  margin-right: 40px;
  box-shadow: 1px 1px 2px 3px #14294d;
 } 
 .read-more-btn:hover {
   background: #511e02; /* Old browsers */
background: -moz-linear-gradient(top, #511e02 0%, #511e02 13%, #703103 50%, #703103 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #511e02 0%,#511e02 13%,#703103 50%,#703103 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #511e02 0%,#511e02 13%,#703103 50%,#703103 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#511e02', endColorstr='#703103',GradientType=0 ); /* IE6-9 */
 }
.read-more-btn:active {
    background: #511e02; /* Old browsers */
    background: -moz-linear-gradient(top, #511e02 0%, #511e02 13%, #703103 50%, #703103 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #511e02 0%,#511e02 13%,#703103 50%,#703103 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #511e02 0%,#511e02 13%,#703103 50%,#703103 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#511e02', endColorstr='#703103',GradientType=0 ); /* IE6-9 */
    box-shadow: inset 1px 1px 1px 1px #14294d;
}
.footer-menu {
  float: right;
  width: 70%;
  margin-top: 20px;
  text-align: right;
}
.footer-menu a {
  display: block;
  text-decoration: none;
  padding: 0 10px;
  border-right: 2px solid #7494ca;
  color: #7494ca;
  font-family: 'Fira Sans', sans-serif;
}
a.last{
  border-right: none;
}
.footer-menu a:hover,
.footer-menu a:active,
.footer-menu a.active {
  text-decoration: underline;
}
.footer-menu a.active,
.footer-menu a:active {
   color: #ffffff;
}
.copyright {
  float: left;
  width: 30%;
  padding: 10px 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  color: #7494ca;
}

.calendar-widget {
  margin: 30px auto 0;
}
#calendar {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}
#calendar thead tr:last-child {
  font-size: small;
  color: #ffffff;
}
#calendar thead tr:nth-child(1) td:nth-child(2) {
  color: #ffffff;
}
#calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar tbody td {
  color: #ffffff;
}
#calendar tbody td:nth-child(n+6), #calendar2 .holiday {
  color: rgb(231, 140, 92);
}
#calendar tbody td.today {
  background: #7A3604;
  color: #fff;
}
.header-menu-btn {
  display: none;
}
.header-menu .open li {
  height: 40px;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: height .5s, opacity .5s;
  -moz-transition: height .5s, opacity .5s;  
  transition: height .5s, opacity .5s;  
}
.menu-toggle:before { 
  content: "≡"; 
  }
.menu-toggle {
  display: inline-block;
  margin-right: 6px;
  padding: 6px;
  border: 1px solid #fff;
  border-radius: 2px;
}  

/*Prices page, Routes page*/
.big-line-height {
  line-height: 1.4;
}
.box-text {
  text-indent: 30px;
}
.table-prices, .table-routes {
  width: 100%;
}

.table-prices th, .table-prices td,
.table-routes th, .table-routes td {
  border: 1px solid #fff;
  text-align: center;
}
/*About page*/
.bio-photo {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  display: block;
  float: left;
  margin-right: 4%;
  border-radius: 50px;
  shape-outside: inset(1% round 45%);
}
/*Stories page*/
.illustration-left {
  display: block;
  float: left;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  margin: 2% 4% 2% 0;
  border-radius: 50px;
  shape-outside: inset(1% round 45%);
}
/*Gallery page*/
.gallery-header {
  text-align: center;
}
.gallery-container {
  margin: 0 auto;
  text-align: center;
}
.gallery-item{
  border: 2px solid white;
  display: inline-block;
  margin-right: 1%;
  margin-top: 1%;
}
@media only screen and (max-width:1600px) { 
.header-menu-btn {
  display: none;
}
.gradient {
  left: 44%;
}
}
@media only screen and (max-width:1200px) {  
.gradient {
  left: 42%;
}
.flickity-prev-next-button.previous {
    left: 0;
}
.flickity-prev-next-button.next {
    right: 0;
}
.block-left {
    width: 68%;
    margin-left: 2%;
}
.block-right {
    width: 26%;
    margin-right: 2%;
}
 .content {
    margin-right: 30px;
}
.sidebar {
    margin-left: 20px;
}
.copyright {
    width: 28%;
    margin-left: 1%;
}
.footer-menu {
  width: 68%;
  margin-right: 1%;
}
}
@media only screen and (max-width:992px) { 
.header-container {
    max-width: 641px;
}
.gradient {
    left: 40%;
    top: 8%;
}
.logo h1 {
    font-size: 44px;
}
.flickity-prev-next-button.previous {
    left: 40px;
}
.flickity-prev-next-button.next {
    right: 40px;
}
.block-left {
    margin: 0;
    width: 100%;
    text-align: center;
}
.block-right{
    width: 100%;
    margin: 0; 
    text-align: center;
}   
.block-right ul {
  display: inline-block;
  float: none;
  zoom: 1;
  padding: 0;
}
.block-right li {
  float: left;
  margin: 0 30px;
}
.header-menu a:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
} 
.sidebar {
  display: none;
}  
.content-container {
    margin: 15px 0;
}
.content {
  margin: 0 2%;
}
.box {
    margin: 50px 0;
}

.box.about {
  margin-bottom: 70px;
}
.copyright {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
}
.footer-menu {
  width: 100%;
  float: none;
  text-align: center;
  margin: 0;
}
}
@media only screen and (max-width:641px) {
.logo img {
    width: 20%;
}
.logo h1 {
    font-size: 30px;
}
.flickity-prev-next-button.previous {
    left: 40px;
}
.flickity-prev-next-button.next {
    right: 40px;
}
.footer-menu ul {
    padding-left: 0;
}
.footer-menu li {
    padding-bottom: 15px;
}
.header-menu li {
    display: block;
}
.header-menu a {
  line-height: 0;
}
.gradient {
  display: none;
}
.header-menu li {
    height: 0;
    opacity: 0;
}
.header-menu-btn {
  display: block;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  padding: 7%;
  cursor: pointer;
}
}
@media only screen and (max-width:481px) { 
.logo {
    margin: 30px auto 0;
    width: 85%;
}
.logo img {
    margin: 20px auto;
}
.logo h1 {
    font-family: inherit;
    font-size: 27px;
}
.flickity-prev-next-button.previous {
    left: 5px;
}
.flickity-prev-next-button.next {
    right: 5px;
}
.block-right {
    width: 100%;
}
.block-right li {
  float: none;
  margin: 0;
  font-size: 22px;
  line-height: 1.4;
}  
h2 {
    text-align: center;
    font-family: inherit;
}
.box {
    margin: 50px 0 50px;
}
.centered-text {
  margin: 0px 3px;
  padding-bottom: 17px;
}
.read-more-btn {
  display: block;
  float: none;
  text-align: center;
  margin: 0;
}
.box-text {
  line-height: 1.2;
  margin-bottom: 30px;
}
.bio-photo {
  float: none;
  margin: auto;
}
.illustration-left {
  float: none;
  margin: 4% auto;
}
}
@media only screen and (max-width:320px) { 
.block-right li{   
    font-size: 18px;
}
}