/*font-family: 'Fira Sans', sans-serif;*/
html {
  font-size: 16px;
  line-height: 1em;
}
body {
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  background: rgba(11,27,56,1);
background: -moz-linear-gradient(top, rgba(11,27,56,1) 0%, rgba(14,32,64,1) 16%, rgba(24,50,94,1) 55%, rgba(24,50,94,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11,27,56,1)), color-stop(16%, rgba(14,32,64,1)), color-stop(55%, rgba(24,50,94,1)), color-stop(100%, rgba(24,50,94,1)));
background: -webkit-linear-gradient(top, rgba(11,27,56,1) 0%, rgba(14,32,64,1) 16%, rgba(24,50,94,1) 55%, rgba(24,50,94,1) 100%);
background: -o-linear-gradient(top, rgba(11,27,56,1) 0%, rgba(14,32,64,1) 16%, rgba(24,50,94,1) 55%, rgba(24,50,94,1) 100%);
background: -ms-linear-gradient(top, rgba(11,27,56,1) 0%, rgba(14,32,64,1) 16%, rgba(24,50,94,1) 55%, rgba(24,50,94,1) 100%);
background: linear-gradient(to bottom, rgba(11,27,56,1) 0%, rgba(14,32,64,1) 16%, rgba(24,50,94,1) 55%, rgba(24,50,94,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1b38', endColorstr='#18325e', GradientType=0 ); 
}
.content-wrapper {
    max-width: 980px;
    margin: auto;
}
footer {
 background: #2f528e; /* Old browsers */
background: -moz-linear-gradient(top, #2f528e 0%, #18325e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #2f528e 0%,#18325e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #2f528e 0%,#18325e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f528e', endColorstr='#18325e',GradientType=0 ); /* IE6-9 */

}
.footer-wrapper {
  max-width: 980px;
  margin: auto;
}
h1 {
  margin: 0;
  padding: 0;
}
h1, h2 {
  font-family: 'Bad Script', cursive;
}
/*----header styles----*/
header {
  background: #000000;
  z-index: 10;
  position: relative;
}
.header-container {
  max-width: 980px;
  margin: 0 auto;
}
.block-left {
  float: left;
  width: 70%;
}
.block-right {
  float: right;
  width: 30%;
  line-height: 30px;
  margin-top: 5px;
  text-align: right;
}
.block-right div {
  color: #ffffff;
}
.phone {
  display: inline-block;
  margin-bottom: 5px;
}
.header-container:after, .footer-wrapper:after{
  content:"";
  display:block;
  clear: both;
}
.gradient {
  position: absolute;
  top: 0%;
  left: 45%;
  height: 100px;
  width: 200px;
  border-radius: 70%;
  z-index: 1;
  -moz-box-shadow: 0px 0px 67px 43px #2c4c7c;
 -webkit-box-shadow: 0px 0px 67px 43px #2c4c7c;
 box-shadow: 0px 0px 67px 43px #2c4c7c;
}
.header-menu ul {
  margin: 0;
  padding: 0;
}
.header-menu li, .footer-menu li {
  list-style: none;
  display: inline-block;
}
.header-menu a, {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 0 14px;
  line-height: 112px;
  z-index: 10;
  position: relative;
}
/*should be edited for class .active via JS instead of a:hover*/
.header-menu a:hover {
  background: #572202;
  box-shadow: 0 2px 3px #000;
  -moz-transform: scale(1.2);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 300ms;
  -webkit-transform: scale(1.2);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 300ms;
  -ms-transform: scale(1.2);
  -ms-transition-timing-function: ease-out;
  -ms-transition-duration: 300ms;
  -o-transform: scale(1.2);
  -o-transition-timing-function: ease-out;
  -o-transition-duration: 300ms;
  transform: scale(1.2);
  transition-timing-function: ease-out;
  transition-duration: 300ms;
}
.logo-container {
  max-width: 980px;
}
.logo {
  margin: 75px auto 30px;
  width: 60%;
}
.logo h1 {
  font-size: 55px;
  text-align: center;
}
.logo img {
  display: block;
  width: 14%;
  margin: 30px auto;
}
/*Flickity styles*/
 .carousel-cell {
   margin-right: 20px;
   height: 300px;
   border: 10px solid white;
   counter-increment: gallery-cell;
 }
 .flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent; 
}
.flickity-prev-next-button:hover {
  background: transparent;
}
.flickity-prev-next-button .arrow {
  fill: #ffffff;
  box-shadow: 2px 2px 1px 2px black;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button.previous {
     left: -75px;
 }
.flickity-prev-next-button.next {
     right: -75px;
 }
 /*Main content styles*/
 .content-container {
   margin: 40px 0;
   overflow: hidden;
   max-width: 980px;
 }
 .sidebar {
   width: 200px;
   float: left;
 }
 .content {
   margin-left: 240px;
 }
 .centered-text {
   display: inline-block;
   margin: 0 10px;
   padding-bottom: 10px;
   vertical-align: middle;
 }
 .box {
   margin: 30px 0;
   padding: 0 10px;
 }
 .read-more-btn {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  float: right;
  display: inline-block;
  text-decoration: none;
  background: #703103; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(#703103 0%, #703103 51%, #511e02 87%, #511e02 87%, #511e02 87%, #511e02 100%);
  background: -o-linear-gradient(#703103 0%, #703103 51%, #511e02 87%, #511e02 87%, #511e02 87%, #511e02 100%);
  background: linear-gradient(#703103 0%, #703103 51%, #511e02 87%, #511e02 87%, #511e02 87%, #511e02 100%) ; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#703103', endColorstr='#511e02',GradientType=0 ); /* IE6-9 */
  padding: 8px 20px;
  margin-right: 40px;
  box-shadow: 1px 1px 2px 3px #14294d;
 } 
 .read-more-btn:hover {
   background: #511e02; /* Old browsers */
background: -moz-linear-gradient(top, #511e02 0%, #511e02 13%, #703103 50%, #703103 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #511e02 0%,#511e02 13%,#703103 50%,#703103 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #511e02 0%,#511e02 13%,#703103 50%,#703103 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#511e02', endColorstr='#703103',GradientType=0 ); /* IE6-9 */
 }
 .footer-menu {
  float: right;
  width: 70%;
  margin-top: 20px;
  text-align: right;
}
.footer-menu a {
  display: block;
  text-decoration: none;
  padding: 0 10px;
  border-right: 2px solid #7494ca;
  color: #7494ca;
  font-family: 'Fira Sans', sans-serif;
}
a.last{
  border-right: none;
}
.footer-menu a:hover {
  text-decoration: underline;
}
.copyright {
  float: left;
  width: 30%;
  padding: 10px 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  color: #7494ca;
}

/*Calendar widget styles*/
.calendar-widget {
  margin: 30px auto 0;
}
#calendar {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}
#calendar thead tr:last-child {
  font-size: small;
  color: #ffffff;
}
#calendar thead tr:nth-child(1) td:nth-child(2) {
  color: #ffffff;
}
#calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar tbody td {
  color: #ffffff;
}
#calendar tbody td:nth-child(n+6), #calendar2 .holiday {
  color: rgb(231, 140, 92);
}
#calendar tbody td.today {
  background: #7A3604;
  color: #fff;
}